{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="relative flex items-top justify-center min-h-screen sm:items-center py-4 sm:pt-0">

    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="text-center">          
            <img src="{% static 'img/aklclogo.png' %}" alt="" width="220px" >        
            <h1>Welcome to <strong>Dockinn</strong></h1>  

        </div>
            <p></p>
       

        <h1 class="text-center">Please Scan to begin</h1>
                <div class="visible-print text-center">
                    <div style="display: block; margin-left: auto; margin-right: auto; ">
                    
                    <img src="{{obj.qr_code.url}}" alt="">
                </div>
            

        <div class="flex justify-center mt-4 sm:items-center sm:justify-between">
            
            <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
                <i data-feather="phone"></i>Service Desk: 093-55-55-55
            </div>


            <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
                Copyright &copy AucklandCouncil 2022 | <a href="{% url 'login' %}">LogIn</a> | <a href="{% url 'register' %}">Register</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}